doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style
  body
    navbar#navbar
        ul
            div#logo
                img(src="../static/img/dance_logo.png", alt="logo")
                | HDA
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/") class-info]
            li #[a(href="/contact") contact-us]
    block content
    footer#footer
        p#footer_para Harry Dance Acemady &#169;copyright claim issued on 5/18/2022