doctype html
html
  head
    title Harry Dance Academy 
    style
      include ../static/style.css
  body
    navbar#navbar
        ul
            div#logo
                img(src="../static/img/dance_logo.png", alt="logo")
                | HDA
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/") class-info]
            li #[a(href="/") contact-us]
    

    section#introsection
        div Welcome to Harry's dance academy
        div#slogan EAT SLEEP DANCE REPEATE
    section#missionsection
        h3 Our Mission 
        div.container
            div.card
                h4 Dance perfection
                div.card-box
                    div.card-img
                        img(src="../static/img/dance.png", alt="dance.png")
                    div.card-content
                        p this is best acedamy in multiverse
            div.card
                h4 Dance way you like
                div.card-box
                    div.card-img
                        img(src="../static/img/dance(1).png", alt="dance.png")
                    div.card-content
                        p this is best acedamy in multiverse
            div.card
                h4 Expert teaching
                div.card-box
                    div.card-img
                        img(src="../static/img/dance(2).png", alt="dance.png")
                    div.card-content
                        p this is best acedamy in multiverse
    section#sponsorssection
        h3 Our Sponsors
        div#sponsors
            img(src="../static/img/apple.png", alt="sponsors png" class="spimg")
            img(src="../static/img/microsoft.png.png", alt="sponsors png" class="spimg")
            img(src="../static/img/skype.png", alt="sponsors png" class="spimg")
            img(src="../static/img/twitter.png.png", alt="sponsors png" class="spimg")

    footer#footer
        p#footer_para Harry Dance Acemady &#169;copyright claim issued on 5/18/2022
    script
      include ../static/index.js